.container {
	position: relative;
	margin-top: 70px;
}

.caption {
	text-align: center;
	font-size: 32px;
}
.caption__input {
	width: 50px;
	font-size: 32px;
}

.arrow__wrapper {
	position: relative;
	outline: 1px solid gray;
	width: 700px;
	left: 55px;
	bottom: -10px;
	display: flex;
}

.arrow {
	width: 38.5px;
	height: 60px;
	box-sizing: border-box;
	outline: 1px solid lightgray;
}

.arrow__input {
	display: block;
	width: 15px;
	margin: 0 auto;
}
