.container {
	position: relative;
	margin: 70px auto 0;
	width: 960px;
	display: flex;
	justify-content: center;
	flex-direction: column;

}

.caption {
	text-align: center;
	font-size: 32px;
}
.caption__input {
	width: 40px;
	font-size: 32px;
}

.captionInput__block {	
	border: none;
	background-color: transparent;
	color: black;
}


.arrow__wrapper {
	position: relative;
	width: 700px;
	left: 37px;
	bottom: -10px;
	display: flex;
}

.arrow {
	width: 38.5px;
	height: 100px;
	box-sizing: border-box;
	outline: 1px solid lightgray;
}

.arrow__input {
	display: block;
	width: 15px;
	margin: 0 auto;
}
